@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
$dark-blue: #0088CC;
$dark-gray: #666666;
$text_input: #3C3C3C;
$main_background_color: #F2F6F8;
$border_main: #C6D2D9;

.bg_light_red{
  background-color: rgba($color: #F44336, $alpha: 0.5)
}
.bg_light_green{
  background-color: rgba($color: #009688, $alpha: 0.5)
}
.bg_white{
  // background-color: white;
}
.bg_light_yellow{
  background-color: rgba($color: #FF9800, $alpha: 0.5)
}
.spinner_app{
    height: 90vh;
    z-index: 9999999;
}
.wrapper{
    min-height: calc(100vh - 60px);
    width: 100%;
    height: 100%;
    display: flex;
    background-color: $main_background_color;
}
*::-webkit-scrollbar {
    width: 7px; /* ширина scrollbar */
    height: 9px;
  }
*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); /* цвет дорожки */
    border-radius: 25px;
  }
*::-webkit-scrollbar-thumb {
    background-color: #b3e3fb; /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 3px solid #b3e3fb;  /* padding вокруг плашки */
  }
  .rc-calendar{
    z-index: 4;
    position: absolute !important;
    right: 265px;
    box-shadow: 0px 0px 0px !important;
    border: 1px solid #90A4AE;
    margin-top: 40px !important;
    z-index: 99999999;
    // top: 0px;
  }
  .rc-calendar-footer-btn{
    display: none;
  }

  // table head
.custom_table,
.custom_table_emp{
  td{
    position: relative;
    // border: 0.554916px dashed rgba($color: #3C3C3C, $alpha: 0.5) !important;
    border-bottom: 0.572072px solid rgba($color: #C6D2D9, $alpha: 1) !important;
    border-right: 0px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    max-height: 30px !important;
  }
  th{
    position: relative;
    max-height: 30px !important;
    // border-right: 0.572072px dashed rgba($color: #3C3C3C, $alpha: 0.4) !important;
    // border-top: 0.572072px dashed rgba($color: #3C3C3C, $alpha: 0.4) !important;
    border-bottom: 0.572072px solid rgba($color: #C6D2D9, $alpha: 1) !important;
    border-left: 0px !important;
    border-top: 0px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
/* black */
  }
  .border_dashed{
    border-right: 1px dashed rgba($color: $border_main, $alpha: 1) !important;
    height: 70%;
    width: 99.2%;
    position: absolute;
    top: 50%;
    left: 51.3%;
    // background: red;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  .table_cell{
    position: relative;
    border-right: 0px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  table{
    border-bottom: 0px !important;
    border: 0px solid rgba($color: #E3EAEE, $alpha: 1) !important;
    box-sizing: border-box !important;
    
  }
  thead{
    background: #E3EAEE !important;
    tr{
      th{
        color: #3C3C3C !important;
      }
    }
  }
}
.custom_table_task{
  box-shadow: 0px !important;
}

.MuiPaper-root{
  border-radius: 2px !important;
  box-shadow: 0px 0px 0px !important;
}
.MuiTableContainer-root{
  box-shadow: 0px !important;
}
.MuiPaper-elevation{
  box-shadow: 0px !important;
}
.MuiPaper-rounded{
  box-shadow: 0px !important;
}

.custom_table{
  min-height: calc(100vh - 130px);
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  // border: 2px solid #E3EAEE  !important;
  border: 0.554916px solid #CDD9DF !important;

  border-radius: 2px !important;
  box-sizing: border-box !important;
  border-width: 0.02px !important;

  box-shadow: 0px !important;
}
.custom_table_emp{
  min-height: calc(98vh - 132px);
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  // border: 2px solid #E3EAEE  !important;
  border: 0.554916px solid #CDD9DF !important;

  border-radius: 2px !important;
  box-sizing: border-box !important;
  border-width: 0.02px !important;

  box-shadow: 0px !important;
}
  // end  table-head
  // for select input
  .custom_select{
    height: 34px !important;
    min-height: 34px !important;
    padding: 8.5px 10.5px !important;  
    // border-radius: 0px !important;
    border-color: #C6D2D9 !important;
    border-radius: 2px !important;
  }
  fieldset{
    border-color: #9CB9C5 !important;
    // border-radius: 0px !important;
    margin-top: 0px !important;
}
  // end for select input
.custom_search_wrapper_day{
  position: relative;
  .custom_search{
    width: 203.5px !important;
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 34.5px;
    color: rgba($color: #9CB9C5, $alpha: 1) !important;
    &::placeholder{
      color: rgba($color: $border_main, $alpha: 1) !important;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }
  .custom_search_icon{
    position: absolute;
    left: 10.5px;
    background-image: url('./assets/search_icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    top: 43%;
    transform: translate(50%, -50%);
  }
}
.custom_search_wrapper{
  position: relative;
}
.custom_search_icon{
  position: absolute;
  left: 10.5px;
  background-image: url('./assets/search_icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translate(50%, -50%);
}
.custom_search{
  width: 203.5px !important;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding-left: 34.5px;
  color: rgba($color: #9CB9C5, $alpha: 1) !important;
  &::placeholder{
    color: rgba($color: $border_main, $alpha: 1) !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
.rc-calendar-input-wrap{
  display: none;
}
.calendar_day{
  .rc-calendar-my-select{
    .rc-calendar-month-select{
      padding: 10px 8px;
      color: #343A40 !important;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
    .rc-calendar-year-select{
      color: #343A40 !important;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }
  .rc-calendar-prev-year-btn{
    font-size: large;
    color: #3C3C3C;
    margin-left: -5px;
  }
  .rc-calendar-prev-month-btn{
    font-size: large;
    color: #3C3C3C;
    margin-left: -10px;
  }
  .rc-calendar-next-year-btn{
    font-size: large;
    color: #3C3C3C;
    margin-right: -5px;
  }
  .rc-calendar-next-month-btn{
    font-size: large;
    color: #3C3C3C;
    margin-right: -10px;
  }
  .rc-calendar-body{
    padding: 0px;
  }
  .rc-calendar-selected-day{
    .rc-calendar-date{
      background: none !important;
      color: #03A9F4 !important;
      border: 0px !important;
    }
  }
  .rc-calendar-selected-date{
    .rc-calendar-date{
      background: none !important;
      color: #03A9F4 !important;
      border: 0px !important;
      z-index: 0;
    }
  }
  .rc-calendar{
    width: 182px !important;
    height: 208px;
  }
  .rc-calendar-footer{
    display: none;
  }
  .rc-calendar-column-header-inner{
    padding: 5px 5px;
    // margin-left: 4.5px;
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* black */
    color: #343A40;
    border-radius: 5px;
  }
  .rc-calendar-date{
    margin-top: -4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* black */
  
    // color: #3C3C3C;
  }
  .rc-calendar-header{
    border-bottom: 0px !important;

    .rc-calendar-month-select{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
    .rc-calendar-year-select{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
.calendar_week{
  .rc-calendar-last-month-cell{
    .rc-calendar-date{
      color: rgb(208, 207, 207);
    }
  }
  .rc-calendar-next-month-btn-day{
    .rc-calendar-date{
      color: rgb(208, 207, 207);
    }
  }
  .rc-calendar-today{
    .rc-calendar-date{
      background: #ebf4f8 ;
      border: 0px ;
      color: #03A9F4;
    }
  }
  .rc-calendar-active-week{
    background: #ebf4f8;
    padding-left: 0px !important;
  }
  .rc-calendar-table{
    .rc-calendar-column-header{
      // background: #E3EAEE !important;
    }
  }
  .rc-calendar-column-header-inner{
    padding: 2px 5px;
    width: fit-content;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: large;
    /* black */
    
    // background: #E3EAEE;
    border-radius: 5px;
    color: #343A40 ;
  }
  .rc-calendar-date{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* black */
  
    color: #343A40 ;
  }
  .rc-calendar-header{
    margin-top: 5px;
    border-bottom: 0px !important;
    .rc-calendar-month-select{
      font-size: large;
    }
    .rc-calendar-year-select{
      font-size: large;
    }
  }
}
.rc-calendar-selected-start-date{
  .rc-calendar-date{
    background: #03A9F4 !important;
    color: white !important;
    width: 29px !important;
    border-top-right-radius : 0px;
    border-bottom-right-radius: 0px;
  }
}
.rc-calendar-selected-end-date{
  .rc-calendar-date{
    background: #03A9F4 !important;
    color: white !important;
    width: 29px !important;
    border-top-left-radius : 0px;
    border-bottom-left-radius: 0px;
  }
}
.rc-calendar-body{
  // margin-bottom: 5px;
  margin-top: -10px;
  margin-bottom: -2px;
  
}
.MuiSwitch-root{
  padding: 6px !important;
  border-radius: 50% !important;
}
.PrivateSwitchBase-input{
  border-radius: 50% !important;
}
.MuiSwitch-thumb{
  background: #3C3C3C !important;
}
.Mui-checked{
  .MuiSwitch-thumb{
    background: white !important;
  }
}
// calendar week
.rc-calendar-range-middle{
  display: none;
}
.rc-calendar-body{
  border-bottom: 0px !important;
}
.rc-calendar-panel{
  border-left: 0px !important;
  border-top-left-radius: 0px !important;
}
// end calendar week

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  .custom_switch{
    display: flex;
    align-items: center;
    label{
      display: flex;
      align-items: center;
      span{
        margin-right: 5px;
        margin-left: 5px;
        color: #343A40;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
    }
    input[type='checkbox'],
    input[type='radio'] {
      --active: #03A9F4;
      --active-inner: #fff;
      --focus: 0px rgba(39, 94, 254, .3);
      --border: #666666;
      --border-hover: #666666;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 15px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 0.5px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type='checkbox'] {
      &:not(.switch) {
        border-radius: 7px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        width: 23.5px;
        border-radius: 11px;
        &:after {
          left: 1px;
          top: 2px;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }
        &:checked {
          --ab: var(--active-inner);
          --x: 10px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: .6;
            }
          }
        }
      }
    }
    input[type='radio'] {
      border-radius: 50%;
      &:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, .7));
      }
      &:checked {
        --s: .5;
      }
    }
  }
}

.text_area{
  border-color: #9CB9C5 !important;
  padding: 5px;
  max-height: none !important;
  &:focus{
    outline: 0px !important;
  }
  &::placeholder{
    color: #9CB9C5;
  }
}

.min-width{
  min-width: 385px;
}
.MuiOutlinedInput-input{
  width: 100% !important;
}
.user_side_menu{
  .current_task_field{
    label{
      color: #9CB9C5;
    }
    input{
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #373737;
      word-break: break-all;
      border-radius: 3px !important;
    }
  }
}
.MuiInputBase-root{
  &::before{
    border-bottom: 0.6px solid #9CB9C5 !important;
  }
  &::after{
    border-bottom: 0px !important;
  }
}

// #mui-rte-root{
//   padding: 5px !important;
//   margin-top: 30px !important;
//   border: 0.6px solid rgba($color: #9CB9C5, $alpha: 1) !important;
// }
// #mui-rte-editor{
//   padding-left: 8px !important;
//   padding-right: 8px !important;
// }
.MuiMenuItem-root{
  color: #03A9F4 !important;
  text-decoration-line: underline !important;
}
.Mui-selected{
  color: #3C3C3C !important;
  text-decoration-line: none !important;
}
.MuiTableCell-root{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  @media(max-width: 1500px){
    padding: 8px !important;
  }
}
// #mui-rte-editor{
//   border: 0.6px solid rgba($color: #9CB9C5, $alpha: 1) !important;
//   width: 100% !important;
//   margin-top: 0px !important;
//   margin-left: -6px !important;
//   padding: 10px 5px 5px 5px !important;
//   border-top: 0px solid white !important;
//   border-bottom: 0px !important;
//   z-index: 999;
//   transition: all linear 0.42s;
// }
// #mui-rte-container{
//  padding-left: 6px;
//  padding-right: 6px;
// }
// .MUIRichTextEditor-placeHolder-23{
//   border: 0.6px solid rgba($color: #9CB9C5, $alpha: 1) !important;
//   width: 100% !important;
//   margin-top: 5px !important;
//   margin-left: -6px !important;
//   padding: 5px 5px 5px 5px !important;
//   border-top: 0.6px solid white !important;
//   z-index: 999;
// }
// .MUIRichTextEditor-placeHolder-9{
//   border: 0.6px solid rgba($color: #9CB9C5, $alpha: 1) !important;
//   width: 100% !important;
//   margin-top: 5px !important;
//   margin-left: -6px !important;
//   padding: 5px 5px 5px 5px !important;
//   border-top: 0.6px solid white !important;
//   z-index: 999;
// }
.rc-calendar-prev-year-btn{
  font-size: x-large;
  color: #3C3C3C;
}
.rc-calendar-prev-month-btn{
  font-size: x-large;
  color: #3C3C3C;
}
.rc-calendar-next-month-btn{
  font-size: x-large;
  color: #3C3C3C;
}
.rc-calendar-next-year-btn{
  font-size: x-large;
  color: #3C3C3C;
}
.MuiSelect-select{
  display: flex !important;
}

.linear_progress{
  position: absolute !important;
  top: 60px;
  right: 0px;
  left: 211px;
}
.table_cell{
  border-right: 0px !important;
  border: 0px !important;
}
.MuiLinearProgress-root{
  height: 3px !important;
}
.form-input{
  color: $text_input;
}
.MuiInputBase-input{
  border-radius: 3px !important;
}
.wrapper_input{
  width: 385px;
  padding-left: 20px;
  padding-right: 20px;
  .label{
    color: #6C757D;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
  }
  input{
    width: 360px;
    min-width: none;
    max-width: none;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
    &:disabled{
      background-color: #E4EAEE;
      border: 1px solid #C6D2D9;
    }
  }
  textarea{
    width: 360px;
    min-width: none;
    max-width: none;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
    &:disabled{
      background-color: #E4EAEE;
      border: 1px solid #C6D2D9;
    }
  }
  .artefact{
    height: fit-content;
    background: #E4EAEE;
    padding: 10.5px 15px;
    border: 1px solid #C6D2D9;
    border-radius: 2px;
    a{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #03A9F4;
      text-decoration: none;
    }
  }
}
.wrapper_input_two_btn{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  .wrapper_input{
    padding-right: 0px;
    padding-left: 0px;
  }
  input{
    padding: 0px 10px;
    width: 159.5px;
  }
}
.custom_btn_wrapper{
  // position: absolute;
  // bottom: 13px;
  // right: 10px;
  display: flex;
  justify-content: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 13px;
  .btn_cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.5px 10.5px;
    margin-right: 10px;
    cursor: pointer;
    span{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #03A9F4;
    }
  }
  .btn_complete{
    background-color: #03A9F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.5px 10.5px;
    cursor: pointer;
    span{
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }
  .btn_mistake{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 31px;
    background: rgba(244, 67, 54, 0.5);
    border-radius: 2px;
    cursor: pointer;
    span{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      /* identical to box height */

      text-transform: uppercase;

      /* white */

      color: #FFFFFF;
    }
    transition: all linear 0.22s;
    &:hover{
      background: rgba(244, 67, 54, 1);
    }
  }
  .btn_good{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 31px;
    background: rgba(0, 150, 136, 0.5);
    border-radius: 2px;
    cursor: pointer;
    span{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      /* identical to box height */

      text-transform: uppercase;

      /* white */

      color: #FFFFFF;
    }
    transition: all linear 0.22s;
    &:hover{
      background: rgba(0, 150, 136, 1);
    }
  }
}
.custom_select_wrapper{
  cursor: pointer;
  position: relative;
  width: 450px;
  height: 14px;
  min-width: 200px;

  /* white */

  background: #FFFFFF;
  /* blue-gray-3 */

  border: 1px solid #C6D2D9;
  border-radius: 2px;
  padding: 8.5px 10.5px;

  .select_body{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }
  .select_arrow{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, 0px);
    background-image: url('./assets/task/btn_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 5px;
    width: 8px;
    cursor: pointer;
  }
  .select_additional{
    position: absolute;
    top: 35px;
    right: 0px;
    background: white;
    height: fit-content;
    max-height: 400px;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 0px 4px 1px #c5cbce;
    border-radius: 1px;
  }

  @media(max-width: 1300px){
    width: 300px;
  }
  .position_current{
    height: 34px;
    padding: 0px 10px ;
    display: flex;
    align-items: center;

    &:hover{
      background: #E4EAEE;
    }
  }
}

.wrapper_input_width_label{
  width: 100%;
  // padding-left: 20px;
  // padding-right: 20px;
  box-sizing: border-box;
  .label{
    color: #6C757D;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
  }
  input{
    height: 31px;
    width: 100%;
    min-width: none;
    max-width: none;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
    box-sizing: border-box;
    &:disabled{
      background-color: #E4EAEE;
      border: 1px solid #C6D2D9;
    }
  }
  textarea{
    width: 100%;
    min-width: none;
    max-width: none;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
    border: 1px solid #C6D2D9;
    outline: 0px;
    box-sizing: border-box;
    padding: 8.5px 10.5px;
    &:disabled{
      background-color: #E4EAEE;
      border: 1px solid #C6D2D9;
    }
  }
  .artefact{
    height: fit-content;
    background: #E4EAEE;
    padding: 10.5px 15px;
    border: 1px solid #C6D2D9;
    border-radius: 2px;
    a{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #03A9F4;
      text-decoration: none;
    }
  }
}

.custom_select_wrapper_create{
  cursor: pointer;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 31px;
  min-width: 200px;

  /* white */

  background: #FFFFFF;
  /* blue-gray-3 */

  border: 1px solid #C6D2D9;
  border-radius: 2px;
  padding: 8.5px 10.5px;

  .label{
    color: #6C757D;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top: -18px;
    left: -1px;
  }
  .select_body_create{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }
  .select_arrow_create{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, 0px);
    background-image: url('./assets/task/btn_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 5px;
    width: 8px;
    cursor: pointer;
  }
  .select_additional_create{
    position: absolute;
    top: 35px;
    right: 0px;
    background: white;
    height: fit-content;
    max-height: 400px;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 0px 4px 1px #c5cbce;
    border-radius: 1px;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .select_one{
    height: 34px;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    &:hover{
      background-color: #E4EAEE;
    }
  }
}

.tox{
  margin-top: 12px;
  max-height: 195px;
}

.tox-tinymce{
  border: 1px solid #C6D2D9 !important;
  border-radius: 2px !important;
}
.tox-statusbar{
  display: none !important;
}
.tox-editor-header{
  height: 32px !important;
  background-color: #C6D2D9 !important;
  display: flex !important;
  align-items: center !important;
}
.tox-toolbar-overlord{
  height: 32px !important;
  background-color: #C6D2D9 !important;
}
.tox-toolbar__primary{
  height: 26px !important;
  background-color: #C6D2D9 !important;
  // padding-bottom: 2px !important;
  margin-top: -3px !important;
}