$main_background_color: #F2F6F8;
$border_main: #C6D2D9;

.admin_employes{
    background: #F1F6F8;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 60px);
}
.admin_employes_wrapper{
    padding: 6px;
    // padding-top: 12px;
    // padding-bottom: 12px;
    height: calc(100% -40px);
    width: calc(100% -40px);
    position: relative;
}
.nav_header{
    display: flex;
    width: 100%;
    justify-content: right;
}
.nav_header_btn{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
// work width Table
.table{
    margin-top: 11px;
    height: 100%;
    width: 100%;
}
.table_wrapper{
    height: 100%;
    width: 100%;
}
.thead_footer_custom{
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    border-top: 0px !important;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 20px;
    color: rgba($color: #3C3C3C, $alpha: 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 17.7573px;
    line-height: 21px;
}
.footer_group_btn{
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4px;
}
.footer_group_btn_left{
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.footer_group_btn_right{
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.footer_group_btn_center{
    width: 55px;
    text-align: center;
    color: #3C3C3C;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1.10983px solid #3C3C3C;
    font-style: normal;
    font-weight: 400;
    font-size: 17.7573px;
    line-height: 21px;
    text-align: center;
}
.paperclip_img{
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    cursor: pointer;
}

// new code
.com_employes_btn_added{
    height: 47px;
    width: 47px;
    margin-top: -2px;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

// sidebar_header
.user_side_menu_plug{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    opacity: 0.4;
}
.user_side_menu{
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    bottom: 0;
    width: 360px;
    height: 427px;
    background: white;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate(-50%, -50%);
    border: 1px solid #C6D2D9;
    border-radius: 1px;
    box-sizing: border-box;
}
.user_side_menu_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    // padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.close_user_side_menu_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 12px;
    width: 12px;
    // transform: translate(-50% , -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
@keyframes animation_sidebar {
    0%{
        width: 0vw;
        min-width: 0px;
    }
    100%{
        width: 30vw;
        min-width: 300px;
    }
}
.group_img_user{
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.img_user{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.img_user_added_photo{
    position: absolute;
    bottom: 35px;
    right: -95px;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.text_field_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    min-width: 400px;
    @media(max-width: 1600px){
        min-width: 300px;
    }
}
.text_field{
    margin-top: 30px !important;
    animation: input_animation linear alternate 0.35s;
    max-height: 40px;
    input{
      padding: 11px 12px !important;  
      background: white !important;
      width: 350px !important;
      border-color: #9CB9C5 !important;
      border-radius: 0px !important;
      margin-top: -2px !important;
    }
    label{
      line-height: 1rem !important;
      color: rgba($color: #9CB9C5, $alpha: 1) !important;
    }
}

.group_input_mask{
    position: relative;
    width: 100%;
    animation: input_animation linear alternate 0.33s;
    input{
    }
    label{
       display: none;
    }
}
.visible_label{
    display: flex !important;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: small;
    color: #9cbec7;
    background: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px !important;
    height: fit-content;
    line-height: 11px !important;
    animation: label_animation linear alternate 0.23s;
}
@keyframes input_animation {
    0%{
        // width: 0px !important;
        // max-width: 50px !important;
        overflow: hidden !important;
        opacity: 0;
        // transform: translateX(300px);
    }
    100%{
        // width: 350px !important;
        // max-width: none !important;
        opacity: 100%;
        overflow: auto !important;
        // transform: translateX(0px);
    }
}
@keyframes label_animation {
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.group_btn_side_bar{
    margin-top: 20px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group_btn_side_bar_save_close{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @media(max-width: 1500px){
        width: 100%;
    }
}
.btn_quit_account{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #C92703;
    cursor: pointer;
}
.btn_cancel_side_bar{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    text-transform: uppercase;
    color: #03A9F4;
    cursor: pointer;
    @media(max-width: 1500px){
        line-height: 24px;
        font-size: 20px;
    }
}
.btn_save_side_bar{
    background: #03A9F4;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #F0F0F0;
    }
    cursor: pointer;
    @media(max-width: 1500px){
        padding: 12px 20px;
        span{
            line-height: 24px;
            font-size: 20px;
        }
    }
}
.btn_delete_side_bar{
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: red;
    }
    cursor: pointer;
    @media(max-width: 1500px){
        padding: 12px 0px;
        span{
            line-height: 24px;
            font-size: 20px;
        }
    }
}
// end_sidebar_header
.added_employes{
    margin-top: -1px;
    height: 34px;
    background-color: #03A9F4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    border: 1px solid #03A9F4;
    border-radius: 2px;    
    cursor: pointer;
    margin-left: 10px;
    box-sizing: border-box;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        
        text-transform: uppercase;
    }
}
.btn_table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../assets/employes/table_icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;

}
.custom_cell_table{
    position: relative;
}

.modal_window_header{
    width: 100%;
    height: 34px;
    position: relative;
    border-bottom: 1px solid #C6D2D9;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    span{
        padding-left: 10px;
        color: #6C757D;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
}
.modal_window_body{
    width: 360px;
    height: 335px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header_user_not_img{
    margin-top: 10px;
    border-radius: 50%;
    height: 100px;
    background-position: center;
    width: 100px;
    text-align: center;
    background: #009688;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.2px; 
    }
}
.input_phone{
    margin-top: 10px !important;
    margin-left: 10.5px !important;
    width: calc(100% - 34px) !important;
    height: 31px !important;
    box-sizing: border-box !important;
    border: 1px solid #C6D2D9 !important;
    border-radius: 2px !important;
    color: #333333 !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    &:focus{
        outline: 0px !important;
    }
    &::placeholder{
        color: $border_main;
    }
}