.auth{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 307px;
    height: fit-content;
    flex-direction: column;
}
input {
    margin-top: 11px;
    width: 99%;
    // padding: 9px;
    padding-left: 15px;
    padding-right: 9px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    border-radius: 3px;
    height: 60px;
    // border: 1px solid #9CB9C5;
    border: 1px solid #c6d2d9;
    transition: all linear 0.42s;
    &::placeholder{
        // color: #9CB9C5;
        // color: #c6d2d9;
        color: #b2b2b2;
    }
    &:focus{
        border: 1px solid #99abb5 !important;
        outline: 0px !important;
    }
    // #c6d2d9 
}
.auth_title{
    font-style: italic;
    font-weight: 400;
    font-size: 55.71px;
    line-height: 67px;
    letter-spacing: 3px;
    /* main color */

    color: #0088CC;
}
.auth_btn{
    margin-top: 11px;
    background: #0088CC;
    width: 107%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    span{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #F0F0F0;
    }
}
.errors{
    color: red;
    font-size: small;
    text-align: left;
    width: 105%;
    margin-top: 2px;
    height: 12px;
}