$dark-blue: #0088CC;

.company_employes{
    background: #F1F6F8;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 60px);
}
.company_employes_wrapper{
    padding: 6px;
    // padding-top: 12px;
    // padding-bottom: 12px;
    height: calc(100% -40px);
    width: calc(100% -40px);
    position: relative;
}
.nav_header{
    display: flex;
    width: 100%;
    justify-content: right;
}
.nav_header_btn{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
// work width Table
.table{
    margin-top: 11px;
    height: 100%;
    width: 100%;
}
.table_wrapper{
    height: 100%;
    width: 100%;
}
.thead_footer_custom{
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    border-top: 0px !important;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 20px;
    color: rgba($color: #3C3C3C, $alpha: 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 17.7573px;
    line-height: 21px;
}
.footer_group_btn{
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4px;
}
.footer_group_btn_left{
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.footer_group_btn_right{
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.footer_group_btn_center{
    width: 55px;
    text-align: center;
    color: #3C3C3C;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1.10983px solid #3C3C3C;
    font-style: normal;
    font-weight: 400;
    font-size: 17.7573px;
    line-height: 21px;
    text-align: center;
}
.paperclip_img{
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    cursor: pointer;
}

// new code
.com_position_btn_added{
    // font-style: normal;
    // font-weight: 400;
    // font-size: 16px;
    // line-height: 19px;
    // /* identical to box height */

    // display: flex;
    // align-items: center;
    // text-align: center;
    // text-transform: uppercase;

    // /* main color */
    // border: 1px solid #03A9F4;
    // padding: 8px 10px;
    // color: #03A9F4;
    // background: white;
    // cursor: pointer;
    // margin-top: -9px;

    margin-top: -1px;
    margin-left: 10px;
    // margin-right: 10px;
    background-color: #03A9F4;
    color: white;
    width: 163px;
    height: 34px;
    border: 1px solid #03A9F4;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        
        text-transform: uppercase;
        
        color: #FFFFFF;
    }

}


// sidebar_header
.user_side_menu_plug{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    opacity: 0.4;
}
.user_side_menu{
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30vw;
    height: 100%;
    min-height: 100vh;
    min-width: 450px;
    background: white;
    animation: linear alternate animation_sidebar 0.4s;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.user_side_menu_wrapper{
    position: absolute;
    left: 3.5%;
    width: calc(90% - 20px);
    height: calc(100% - 40px);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.close_user_side_menu_btn{
    position: absolute;
    left: -0.5%;
    top: 16px;
    height: 16px;
    width: 16px;
    transform: translate(-50% , -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
@keyframes animation_sidebar {
    0%{
        width: 0vw;
        min-width: 0px;
    }
    100%{
        width: 30vw;
        min-width: 300px;
    }
}
.group_img_user{
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-bottom: 15px;
}
.img_user{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.img_user_added_photo{
    position: absolute;
    bottom: -17px;
    right: -17px;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.text_field_block{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    word-wrap: break-word;
    min-width: 400px;
    // min-height: 102.3vh;
    height: 100%;
    animation: input_animation linear alternate 0.4s;
    margin-top: 30px;
    @media(max-width: 1600px){
        min-width: 300px;
    }
}
.text_field{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    animation: input_animation linear alternate 0.4s;
    max-height: 40px;
    input{
      padding: 11px 12px !important;  
      background: white !important;
      width: 350px;
      border-color: #9CB9C5 !important;
      border-radius: 0px !important;
      margin-top: -2px !important;
    }
    label{
      line-height: 1rem !important;
      color: rgba($color: #9CB9C5, $alpha: 1) !important;
    }
}
.input_phone{
    width: calc(100% - 18px);
    &:focus{
        outline: 0px !important;
        &::placeholder{
            transform: translateY(-100px);
        }
    }
}
.group_input_mask{
    position: relative;
    width: 100%;
    animation: input_animation linear alternate 0.33s;
    input{
    }
    label{
       display: none;
    }
}
.visible_label{
    display: flex !important;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: small;
    color: #9cbec7;
    background: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px !important;
    height: fit-content;
    line-height: 11px !important;
    animation: label_animation linear alternate 0.23s;
}
@keyframes input_animation {
    0%{
        width: 0px !important;
        max-width: 50px !important;
        overflow: hidden !important;
        opacity: 0;
        transform: translateX(300px);
    }
    100%{
        width: 350px !important;
        max-width: none !important;
        opacity: 100%;
        overflow: unset !important;
        transform: translateX(0px);
    }
}
@keyframes label_animation {
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.group_btn_side_bar{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media(max-width: 1500px){
        min-width: 450px;
    }
    @media(max-height: 700px){
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
.group_btn_side_bar_save_close{
    width: 90%;
    display: flex;
    justify-content: center;
    @media(max-width: 1500px){
        width: 80%;
    }
    @media(max-height: 700px){
        margin-bottom: 10px;
    }
}
.btn_quit_account{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #C92703;
    cursor: pointer;
}
@keyframes btn_animation {
    0%{
        overflow: hidden !important;
        opacity: 0;
        transform: translateX(300px);
    }
    100%{
        opacity: 100%;
        overflow: unset !important;
        transform: translateX(0px);
    }
}
.info_user_side_menu_btn{
    position: absolute;
    top: 5px;
    right: -5px;
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.task_title{
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6A6969;
}
.current_task{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #373737;
}
.task_begining_title{
    margin-top: 30px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #9CB9C5;
    opacity: 1;
    @media(max-height: 700px){
        margin-top: 15px;
    }
}
.task_comment{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
}
.task_reports{
    a{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: none;
        color: #03A9F4;
        border-bottom: 0.5px solid #03A9F4;
    }
}

.btn_delete_side_bar{
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    padding-left: 0px;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: red;
    }
    cursor: pointer;

    @media(max-width: 1500px){
        padding: 12px 0px;
        span{
            line-height: 24px;
            font-size: 20px;
        }
    }
}
.btn_save_side_bar{
    background: #03A9F4;
    width: 200px;
    margin-left: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 1px;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #F0F0F0;
    }
    cursor: pointer;
    @media(max-width: 1500px){
        padding: 12px 20px;
        span{
            line-height: 24px;
            font-size: 20px;
        }
    }
}
.btn_cancel_side_bar{
    // background: #03A9F4;
    padding: 15px 0px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #03A9F4;
    }
    cursor: pointer;
    @media(max-width: 1500px){
        padding: 12px 20px;
        span{
            line-height: 24px;
            font-size: 20px;
        }
    }
}
.input_label{
    background: white;
    padding-right: 5px;
    color: rgba($color: #9CB9C5, $alpha: 1) !important;
}
// end_sidebar_header
.img_user_company_position{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-right: 10px;
}
.btn_table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../assets/employes/table_icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;

}