
$dark-gray: #666666;
$dark-blue: #0088CC;
$border-color: #C6D2D9;

.task{
    background: #F1F6F8;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 60px);
}
.task_wrapper{
    padding: 6px;
    // padding-top: 12px;
    // padding-bottom: 12px;
    height: calc(100% -40px);
    width: calc(100% -40px);
    position: relative;
}
.nav_header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.nav_header_btn{
    display: flex;
    align-items: center;
    color: $dark-gray;
    font-style: normal;
    font-weight: 400;
    font-size: 17.7573px;
    line-height: 21px;
}
.current_btn{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 31px;
    border: 1px solid $border-color;
    box-sizing: border-box;
    cursor: pointer;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #333333;
    }
}
.current_btn_active{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3EAEE;
    height: 31px;
    border: 1px solid $border-color;
    box-sizing: border-box;
    cursor: pointer;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #333333;
    }
}
.nav_header_time{
    font-style: normal;
    font-weight: 400;
    font-size: 17.7573px;
    line-height: 21px;
    color: #9CB9C5;
    margin-left: 30px;
}
.nav_header_calendar{
    display: flex;
}
.calendar_body{
    // margin-left: 5px;
    width: 257px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3C3C3C;
    min-width: 257px;
    border-radius: 3.3px !important;
    // @media(min-width: 1500px){
    //     min-width: 498.5px;
    // }
    // @media(max-width: 1500px){
    //     width: 32vw;
    // }
}
.calendar_body_calendar_day{
    position: relative;
    width: 248px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid $border-color;
    display: flex;
    align-items: center;
    color: #3C3C3C;
}
.calendar_img{
    height: 22.2px;
    width: 22.2px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.calendar_current_date{
    position: relative;
    width: 169px;
    text-align: left;
    color: $dark-gray;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}
.calendar_current_date_day{
    position: relative;
    width: 169px;
    text-align: left;
    color: $dark-gray;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    text-align: center;
    padding-right: 20px;
}
.calendar_img_btn{
    background-image: url('../assets/task/btn_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 5px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.calendar_img_btn_day{
    background-image: url('../assets/task/btn_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 5px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 99;
}
.group_btn{
    position: relative;
    display: flex;
    min-width: 68px;
    width: 68px;
}
.group_btn_left{
    height: 32px;
    width: 32px;
    min-width: 32px;
    border: 1px solid $border-color;
    border: 1px solid $border-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6px 10px;
    cursor: pointer;
    // box-sizing: border-box;
}
.group_btn_right{
    height: 34px;
    width: 34px;
    max-width: 34px;
    min-width: 34px;
    // border: 1.10983px solid #9CB9C5;
    border-right: 0px;
    border-left: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6px 10px;
    cursor: pointer;
    box-sizing: border-box;
    border-top-right-radius: 3.3px !important;
    border-bottom-right-radius: 3.3px !important;
}

// work width Table
.table{
    margin-top: 11px;
    height: 100%;
    width: 100%;
}
.table_wrapper{
    height: 100%;
    width: 100%;
}
.thead_footer_custom{
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    border-top: 0px !important;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 20px;
    color: rgba($color: #3C3C3C, $alpha: 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 17.7573px;
    line-height: 21px;
}
.footer_group_btn{
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4px;
}
.footer_group_btn_left{
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.footer_group_btn_right{
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.footer_group_btn_center{
    width: 55px;
    text-align: center;
    color: #3C3C3C;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1.10983px solid #3C3C3C;
    font-style: normal;
    font-weight: 400;
    font-size: 17.7573px;
    line-height: 21px;
    text-align: center;
}
.paperclip_img{
    background-repeat: no-repeat;
    background-size: 15px 20px;
    background-position: center;
    cursor: pointer;
    position: relative;
}
// new code
.group_for_checked{
    display: flex;
    height: 32px;
    margin-right: 10px;
    align-items: center;
}
.title_checked{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    /* black */

    color: #3C3C3C;
}

// sidebar_header
.user_side_menu_plug{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    opacity: 0.5;
    z-index: 9999;
}
.side_menu_header{
    padding-left: 10px;
    padding-right: 40px;
    width: calc(100% - 50px);
    height: 48px;
    border-bottom: 1px solid #C6D2D9;
    position: relative;
    span{
        color: #03A9F4;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
}
.btn_close{
    position: absolute;
    top: 40%;
    right: 10px;
    height: 12px;
    width: 12px;
    transform: translate(-50%, -50%);
    background-image: url('../assets/close_btn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.user_side_menu{
    position: fixed;
    z-index: 8;
    top: 50%;
    left: 50%;
    width: 425px;
    height: fit-content;
    min-height: 403px;
    background: white;
    transform: translate(-50%, -50%);
    // animation: linear alternate animation_sidebar 0.35s;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    z-index: 99999;
    border: 1px solid #C6D2D9;
    border-radius: 1px;
    padding: 10px 0px;
}
.user_side_menu_wrapper{
    position: absolute;
    width: calc(100%);
    height: fit-content;
    // padding: 10px 0px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // flex-direction: column;
    // justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
}
.close_user_side_menu_btn{
    position: absolute;
    left: -0.5%;
    top: 16px;
    height: 16px;
    width: 16px;
    transform: translate(-50% , -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
@keyframes animation_sidebar {
    0%{
        width: 0vw;
        min-width: 0px;
        overflow-x: hidden;
    }
    90%{
        overflow-x: hidden;
    }
    100%{
        width: 30vw;
        min-width: 450px;
        overflow-x: auto;
    }
}
.group_img_user{
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-bottom: 15px;
}
.img_user{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.img_user_added_photo{
    position: absolute;
    bottom: -17px;
    right: -17px;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.text_field_block{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    word-wrap: break-word;
    min-width: 400px;
    animation: input_animation linear alternate 0.35s;
    @media(max-width: 1600px){
        min-width: 300px;
    }
}
.text_field{
    margin-top: 30px !important;
    animation: input_animation linear alternate 0.35s;
    max-height: 40px;
    input{
      padding: 11px 12px !important;  
      background: white !important;
      width: 100% !important;
      border-color: #9CB9C5 !important;
      border-radius: 0px !important;
      margin-top: -2px !important;
    }
    label{
      line-height: 1rem !important;
      color: rgba($color: #9CB9C5, $alpha: 1) !important;
    }
}
.input_phone{
    width: calc(100% - 18px);
    &:focus{
        outline: 0px !important;
        &::placeholder{
            transform: translateY(-100px);
        }
    }
}
.group_input_mask{
    position: relative;
    width: 100%;
    animation: input_animation linear alternate 0.33s;
    input{
    }
    label{
       display: none;
    }
}
.visible_label{
    display: flex !important;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: small;
    color: #9cbec7;
    background: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px !important;
    height: fit-content;
    line-height: 11px !important;
    animation: label_animation linear alternate 0.23s;
}
.visible_label{
    display: flex !important;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: small;
    color: #9cbec7;
    background: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px !important;
    height: fit-content;
    line-height: 11px !important;
    animation: label_animation linear alternate 0.23s;
}
.not_visible_label{
    display: none;
    color: #9cbec7;
}
@keyframes input_animation {
    0%{
        // width: 0px !important;
        // max-width: 50px !important;
        overflow: hidden !important;
        opacity: 0;
        // transform: translateX(300px);
    }
    100%{
        // width: 350px !important;
        // max-width: none !important;
        opacity: 100%;
        overflow: auto !important;
        // transform: translateX(0px);
    }
}
@keyframes label_animation {
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.group_btn_side_bar{
    height: fit-content;
    width: 100%;
    // position: absolute;
    // bottom: 40px;
    // right: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media(max-height: 700px){
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
.group_btn_side_bar_save_close{
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 350px;
    @media(max-width: 1500px){
        width: 100%;
    }
    @media(max-height: 700px){
        margin-bottom: 10px;
    }
}
.btn_quit_account{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #C92703;
    cursor: pointer;
}
.btn_cancel_side_bar{
    padding: 15px 0px;
    width: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #03A9F4;
    cursor: pointer;
    @media(max-width: 1500px){
        padding: 12px 0px;
        span{
            line-height: 24px;
            font-size: 20px;
        }
    }
}
.btn_save_side_bar{
    background-color: $dark-blue;
    width: 200px;
    margin-left: 9px;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #F0F0F0;
    }
    cursor: pointer;
    @media(max-width: 1500px){
        padding: 12px 20px;
        span{
            line-height: 24px;
            font-size: 20px;
        }
    }
}
.info_user_side_menu_btn{
    position: absolute;
    top: 5px;
    right: -5px;
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.task_title{
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6A6969;
}
.current_task{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #373737;
    min-width: 400px;
}
.task_begining_title{
    margin-top: 30px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #9CB9C5;
    opacity: 1;
    @media(max-height: 700px){
        margin-top: 15px;
    }
}
.task_comment{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
    min-width: 360px;
}
.task_reports{
    min-width: 370px;
    a{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: none;
        color: #03A9F4;
        border-bottom: 0.5px solid #03A9F4;
    }
}
// end_sidebar_header
.btn_cancel_side_bar{
    display: flex;
    position: relative;
}
.calendar_side_panel{
    z-index: 5;
    position: absolute;
    right: 520px;
    top: 45.7px;
    height: 244.5px;
    width: 118px;
    background: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-clip: padding-box;
    border: 1px solid #90A4AE;
}
.side_panel_btn_current_week{
    height: 20px;
    border-top-left-radius:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    &:first-child{
        margin-top: 8px;
    }
}
.side_panel_btn_after_week{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.side_panel_btn_acitve{
    background: #03A9F4;
    span{
        color: white;
    }
    transition: all linear 0.22s;
}

.date_picker_desctop{
    margin-top: 30px !important;
    label{
        color: #9CB9C5 !important;
    }
}
.select_position_wrapper{
    margin-top: 30px !important;
    label{
        color: #9CB9C5 !important;
    }
}
.href_link{
    position: absolute;
    top: 20px;
    right: -0px;
    background: white;
    padding: 5px;
    word-wrap: break-word;
    text-align: left;
    z-index: 999;
    width: fit-content;
    border: 1px solid rgb(186, 186, 186);
    max-width: 400px;
    a{
        color: #03A9F4;
        text-decoration: none;
    }
}
.task_employes{
    height: 90%;
    width: 100%;
}
//     background: #F1F6F8;
// height: 100%;
// width: 100%;
// min-height: calc(100vh - 60px);
.table_cell{

}

.added_task_btn_wrapper{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.added_task_btn{
    margin-left: 10px;
    color: #03A9F4;
    background: $dark-blue;
    width: 235px;
    border: 1px solid $dark-blue;
    border-radius: 3px;
    padding: 10px 0px;
    height: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    @media(max-width: 1650px){
        width: fit-content;
        min-width: fit-content;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.table_link{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.user_side_menu_create{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    width: 538px;
    height: 678px;
    background-color: white;
    // padding: 10px;
    box-sizing: border-box;
    border: 1px solid #C6D2D9;
    border-radius: 1px;
}
.user_side_menu_create_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .close_user_side_menu_create_btn{
        position: absolute;
        right: 10px;
        top: 10px;
        height: 12px;
        width: 12px;
        // transform: translate(-50% , -50%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .side_menu_title{
        width: 100%;
        height: 34px;
        min-height: 34px;
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;
        padding-left: 10px;
        box-sizing: border-box;

        span{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #6C757D;
        }
    }
    .text_field_block_create{
        padding: 20px;
        height: fit-content;
        width: 100%;
        box-sizing: border-box;
    }
}